<include file="Public:header" />

<body>
	<!-- BEGIN SECTION -->
	<section id="container" class="">

		<include file="Public:top" />
    <!-- END SIDEBAR -->

    <!-- BEGIN MAIN CONTENT -->
    <section id="main-content">
        <section class="wrapper">
            <section class="panel panel-first">
                <div class="">
                    <div class="panel with-nav-tabs panel-info panel-square panel-no-border">
                        <div class="panel-body body-waiwei">
                            <ul>
                                <li class="first-font">
                                    <span class="region-topspan"><a href="region_class.html"><< 职位分类管理</a></span>添加分类
                                </li>
                            </ul>
                            <div class="opinion-hr">
                                <hr />
                            </div>
                            <form id="form1" name="form1" method="post" action="" class="form-horizontal">
                                <input type="hidden" name="hiddentoken" value="600425f9">
                                <div id="html_tpl">
                                    <ul>
                                        <li>
                                            <label>所属分类:</label>
                                            <select class="form-control f-input-sm alter-classify">
                                                <option value="0" selected="selected">顶级分类</option>
                                                <option value="1">经营管理类</option>
                                                <option value="2">——销售行政/商务类</option>
                                                <option value="3">——推广类</option>
                                                <option value="4">税务类</option>
                                                <option value="5">——计算机硬件类</option>
                                                <option value="6">————通信技术类</option>
                                            </select>
                                        </li>

                                        <hr />
                                        <li>
                                            <label>子类名称:</label>
                                            <input type="text" class="form-control alter-classify">
                                        </li>
                                        <hr />
                                        <li>
                                            <div>
                                                <label>分类排序:</label>
                                                <input type="text" class="form-control sort-class">
                                                <span class="alter-span">(数字越大越靠前)</span>
                                            </div>
                                        </li>
                                    </ul>


                                    <div class="opinion-hr">
                                        <hr />
                                    </div>
                                </div>
                                <div id="html"></div>
                                <div class="send">
                                    <button type="submit" class=" btn  alter-btn">保存</button>
                                    <!--<button type="submit" id="add_form" class=" btn  alter-btn">继续添加</button>-->                        <input type="button" name="add_form" id="add_form" class=" btn  alter-btn" value="继续添加">
                                </div>
                            </form>

                            <!--</ul>-->
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>

<include file="Public:footer" />


